.wrapper {
  margin-top: 40px;
  padding: 8px 16px;
}

.controller {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  transition: all 250ms ease-in-out;
}

#datetime-picker:hover {
  border-color: black;
}

#datetime-picker:disabled {
  color: #808080;
  border-color: #808080;
  background: #fafafa;
}

#datetime-picker:focus,
#datetime-picker:active {
  border-color: #4e75ff;
}

button[data-start] {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #4e75ff;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #fff;

  background: #4e75ff;

  transition: all 250ms ease-in-out;
}

button[data-start]:hover,
button[data-start]:focus {
  background: #6c8cff;
}

button[data-start]:disabled {
  background: #cfcfcf;
  border-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  color: #2e2f42;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  font-size: 16px;
  line-height: 1.5;
}
